@import url(http://fonts.googleapis.com/css?family=Gilda+Display);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

h1 {
  color: red;
  font-family: 'Gilda Display', serif;
}


img {
  max-width: 500px;
}

p {
  color: purple;
}

